@import url(reset.css);
@import url(utilities.css);
@import url(header.css);
@import url(banner_bg.css);
@import url(footer.css);

.banner {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/crossline-dots.png);
  height: 300px;
  background-repeat: repeat;
}
.mask {
  background-color: black;
  opacity: 0.4;
  height: 300px;
  width: 30%;
  position: relative;
}
.mask h2 {
  opacity: 1;
  color: white;
  font-size: 85px;
  position: absolute;
  bottom: 0;
  right: 20px;
}
/* ----------------------篩選區 -------------------*/
.select_area {
  display: flex;
  margin-top: 64px;
}
.select_area li {
  flex-grow: 1;
  background-color: #dcdcdc;
  margin-right: 10px;
  border-radius: 2px;
}
.select_area li:last-child {
  margin-right: 0;
}
.select_area a {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.select_area a:hover {
  background-color: #5b5353;
  color: #dcdcdc;
}
/* ----------------------產品列表 -------------------*/
.product_area {
  margin-top: 64px;
  margin-bottom: 64px;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
}
.product_item {
  width: 380px;
  border: 1px solid #dcdcdc;
  /* box-shadow: 1px 1px 1px #dcdcdc; */
  box-sizing: border-box;
  margin: 10px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.product_item:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-in-out;
}
.product_item img {
  width: 100%;
}

.product_item img:hover {
  transform: scale(1.03);
  transition: all 0.7s;
}

.addToCart {
  display: block;
  cursor: pointer;
}

.fa-cart-plus:before {
  position: absolute;
  top: 30px;
  right: 30px;
}

.product_detail {
  padding: 15px;
}
.product_name {
  font-size: 21px;
}

.origin_price {
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 10px;
}
.product_price {
  font-size: 16px;
}

.product_price::before {
  content: "$";
}
